<h1>Seja bem vindo</h1>

<strong style="margin: 1rem 0; display: block;"><pre>[<%= today_br %>]</pre></strong>

<h4>Menu</h4>

<ul style="margin-top: 2rem;">
  <li>
    <%= link_to "Minhas moedas", coins_path %>
  </li>
</ul>
