<% if @name.nil? %>
  <h1>Seja bem vindo</h1>
<% else %>
  <h1>Seja bem vindo, <%= @name %></h1>
<% end%>

<p><%= t 'hello' %></p>

<strong style="margin: 1rem 0; display: block;"><pre>[<%= l Date.today %>]</pre></strong>

<%= render "menu" %>

