<% if @name.nil? %>
  <h1>Seja bem vindo</h1>
<% else %>
  <h1>Seja bem vindo, <%= @name %></h1>
<% end%>

<strong style="margin: 1rem 0; display: block;"><pre>[<%= today_br %>]</pre></strong>

<h4>Menu</h4>

<ul style="margin-top: 2rem;">
  <li>
    <%= link_to "Minhas moedas", coins_path %>
  </li>
</ul>
