* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

.wrapper {
    width: min(1000px, 90%);
    margin-inline: auto;
    padding-top: 3rem;
}

.title {
    font-size: 3rem;
    font-weight: bold;
    color: #404452;
}

.coins {
    margin-top: 5rem;
    width: 100%;
}

.coin {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 8px;
    padding: 1rem;
}

.coins li:not(:first-child) {
    margin-top: 1rem;
    border-top: 1px solid lightgray;
}

.coin_image {
    width: 5rem;
    aspect-ratio: 1 / 1;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
}

.link {
    text-decoration: none;
    font-size: 1rem;
    border: 1px solid lightgray;
    border-radius: 8px;
    padding: 5px 10px;
    color: #2E2F30;
    background: transparent;
    cursor: pointer;
}

.new {
    display: block;
    margin-top: 3rem;
    padding: 10px 20px;
    background: dodgerblue;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    width: fit-content;
}

.actions {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.coin_head {
    display: flex;
    gap: 3rem;
    align-items: center;
}

.flash {
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    font-size: 0.9rem;
    font-family: sans-serif;
}

.flash.error {
    background-color: rgba(255, 0, 0, 0.05);
    color: #f00;
}

.flash.success {
    background-color: rgba(0, 255, 0, 0.05);
    color: #009300;
}

.dev_banner {
    background: rgba(213, 0, 61, 0.25);
    color: rgba(213, 0, 61, 1);
    position: fixed;
    top: 0;
    right: 0;
    transform: rotate(45deg) translate(30%, -50%);
    padding: 5px 50px;
}